In [2]:
print("aditi")

aditi

#python basics

In [3]:
print("hello\nworld") #newline character

hello
world

In [4]:
 print ("hello\tworld") #horizontal tab

hello	world

#Variables

In [5]:
a=10
print(a)

10

In [6]:
b=10.5
print (b)

10.5

In [7]:
c=("indore")
print(c)

indore

In [8]:
a= 10
print(a)
print(type(a))

10
<class 'int'>

In [9]:
b= 10.5
print (type(b))

<class 'float'>

In [10]:
c="Indore"
print(type(c))

<class 'str'>

In [11]:
d='A'
print(d)

A

In [12]:
print(type(d))

<class 'str'>

User Input

In [13]:
x= input()
print (x)

1
1

In [14]:
x= input("enter your name")
print(x)

enter your nameaditi
aditi

In [15]:
x= input ("enter your name")
print("hello", x)

enter your nameAditi
hello Aditi

###Wap to enter 2 numbers from userand print addition of them

In [16]:
a= input("enter first number:  ")
b= input("enter second number ")
c= a+b
print (c)

enter first number:  2
enter second number 2
22

Type casting

In [17]:
a = 10.5
b=int(a)
print (b)

10

In [18]:
print(type(b))

<class 'int'>

In [19]:
a="10"
print(type(a))
b=int (a)
print(type(b))

<class 'str'>
<class 'int'>

In [20]:
"10"+"20" #gives combine string

'1020'

#so convert string to integer then we will get addition

In [24]:
a= int(input("enter first number:  "))
b= int(input("enter second number: "))
c= a + b
print ("Addition = ", c)

enter first number:  2
enter second number: 2
Addition =  4